@model iMap.ViewModels.UserViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - iMap</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCXRHN2Ztn7vXkvM9qOCtW90G5YYubSKHk" type="text/javascript"></script>
    <style type="text/css">
        html {
            height: 100%
        }
        body {
            height: 100%;
            margin: 0;
            padding: 0
        }
        #map_canvas {
            height: 100%;
            margin: auto;
        }
    </style>


</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Member" asp-action="Index">iMap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="btn btn-light" id="" asp-area="" asp-controller="Member" asp-action="PasswordChange">Change Password</a>
                    </li>
                    <li>
                        <div class="actions">
                            <a class="btn btn-light" role="button" id="create-room" data-bs-toggle="modal" data-bs-target="#create-room-modal">
                                Create a Room
                            </a>
                            <a role="button" class="ms-3" id="expand-users-list">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                            </a>
                            <a role="button" id="expand-sidebar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                                    <line x1="3" y1="12" x2="21" y2="12"></line>
                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                    <line x1="3" y1="18" x2="21" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                    </li>
                </ul>
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-light" asp-area="" asp-controller="Member" asp-action="LogOut" asp-route-returnUrl="/Home/Login">Log Out</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </nav>

</header>
<div class="modal fade" id="create-room-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createRoomModalLabel">Create Room</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" id="roomCustomIconForm" method="post">
                <div class="modal-body">
                    <input type="text" class="form-control" id="name" name="name" maxlength="100" placeholder="Enter room name..."/>
                    <label>Is room public?</label>
                    <input type="checkbox" id="isPublic" name="isPublic"/><br/>
                    <label>Room Icon</label>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="radio" id="chat-image" name="fixImage" value="../../Images/chat.png">
                            <label>
                                <img src="~/Images/chat.png" alt="img">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" id="weather-image" name="fixImage" value="../../Images/weather.png">
                            <label>
                                <img src="~/Images/weather.png" alt="img">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" id="traffic-image" name="fixImage" value="../../Images/traffic.png">
                            <label>
                                <img src="~/Images/traffic.png" alt="img">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" id="love-image" name="fixImage" value="../../Images/love.png">
                            <label>
                                <img src="~/Images/love.png" alt="img">
                            </label>
                        </div>
                    </div><br/>
                    <label>Custom Room Icon</label>
                    <input type="file" id="roomCustomIcon" name="customImage"/>
                    <input type="hidden" id="roomCustomIconHolder">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-primary" onclick="createRoom()">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script>
$("#roomCustomIcon").on('change',function(){
     let formData = new FormData();
     formData.append("file",this.files[0])
     $.ajax({
            url: "/api/Rooms/UploadImage",
            type: "POST",
            data: formData,
            async:false,
              processData: false,
                contentType: false,
                cache: false,
            enctype: 'multipart/form-data',
            success: function (response) {
                document.getElementById("roomCustomIconHolder").value = response;
            },
            error: function(jqXHR, textStatus, errorThrown) {
               console.log(textStatus, errorThrown);
            }
        });
});
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/knockout/knockout-latest.min.js"></script>
<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
@* <script src="~/js/map.js"></script> *@

</body>
</html>