@model ChatPopupDetailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
$( document ).ready( function() {
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    
    async function start() {
        try {
            await connection.start().then(function () {
                console.log('SignalR Started...')
                signalRConnected = true;
                viewModel.roomList();
                viewModel.userList();
            });
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };
    
    start();
    
    async function WaitForHubConnection() {
        while (true) {
            if (signalRConnected) {
                return;
            } else {
                await new Promise(resolve => setTimeout(resolve, 200));
            }
        }
    }
    
    $(document).ready(async function () {
        await WaitForHubConnection();
    });
    joinRoom(@Model.RoomId);
    // getPrivateMessages('Model.Username');
});
</script>
<div class="alert alert-warning alert-dismissible d-none" id="errorAlert" role="alert">
    <span data-bind="text:serverInfoMessage"></span>
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div class="d-flex flex-column justify-content-center align-items-center vh-100" data-bind="css: isLoading() ? 'd-flex' : 'd-none'">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="app d-none" data-bind="css: isLoading() ? 'd-none' : ''">
    <div class="main-content">
        <div class="header">
            <h5 id="joinedRoom">@Model.Username</h5>
        </div>
        <div class="messages-container position-relative" id="messages-container-@Model.Username-@Model.RoomId">
            <div class="no-messages-info" data-bind="if: chatMessages().length == 0">There are no messages.</div>
            <ul class="list-unstyled" id="messages-list" data-bind="foreach: chatMessages">
                <li>
                    <div class="message-item" data-bind="css: { ismine: isMine() === true }">
                       
                        <div class="message-content">
                            <div class="message-info d-flex flex-wrap align-items-center">
                                <span class="author" data-bind="text: fromUserName"></span>
                                <span class="timestamp" data-bind="text: timestampRelative, attr: { 'data-bs-title': timestampFull }" data-bs-toggle="tooltip" data-bs-placement="top"></span>
                            </div>
                            <div class="content" data-bind="html: content"></div>
                        </div>
                            <div class="dropdown dropstart">
                            <a class="text-secondary" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bind="visible: isMine() === true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#" data-bind="attr: { 'data-messageId': id }" data-bs-toggle="modal" data-bs-target="#remove-message-modal">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        @*</div>*@
                    </div>
                </li>
            </ul>
        </div>
        <div class="message-input-container">
            <input id="message-input" type="text" value="" maxlength="500" data-bind="value:message, valueUpdate: 'afterkeydown', event: { keypress: onEnter }" placeholder="What's on your mind?" />
            <div class="actions d-flex align-items-center">
                <form method="post" asp-action="Upload" asp-controller="Upload" enctype="multipart/form-data" id="uploadForm">
                    <label for="UploadedFile" class="custom-file-upload">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                    </label>
                    <input type="hidden" name="RoomId" data-bind="value: joinedRoom()?.id()" />
                    <input type="file" id="UploadedFile" name="File" accept=".jpg,.jpeg,.png" data-bind="event: {change: uploadFiles}">
                </form>
                <a role="button" id="btn-show-emojis">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
                </a>
                <a role="button" id="btn-send-message" data-bind="click: sendNewMessage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                </a>
            </div>
            <div class="emojis-container d-none" id="emojis-container">
                <button data-value=":)">
                    <img src="~/images/emojis/emoji1.png" />
                </button>
                <button data-value=":P">
                    <img src="~/images/emojis/emoji2.png" />
                </button>
                <button data-value=":O">
                    <img src="~/images/emojis/emoji3.png" />
                </button>
                <button data-value=":-)">
                    <img src="~/images/emojis/emoji4.png" />
                </button>
                <button data-value="B|">
                    <img src="~/images/emojis/emoji5.png" />
                </button>
                <button data-value=":D">
                    <img src="~/images/emojis/emoji6.png" />
                </button>
                <button data-value="<3">
                    <img src="~/images/emojis/emoji7.png" />
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="remove-message-modal" tabindex="-1" aria-labelledby="removeMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeMessageModalLabel">Delete Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Are you sure you want to delete this Message?</p>
                <input type="hidden" class="form-control" id="itemToDelete" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" data-bind="click: deleteMessage">Delete</button>
            </div>
        </div>
    </div>
</div>



        

        