@model int
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex;justify-content: center;align-items: center;width:100%;height: 800px;">
    <h1>You are banned from this chat room!</h1>
</div>

        

        