@model iMap.ViewModels.UserViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}




<div id="map" style="width: 1680px; height: 700px; margin-left: 13px;"></div>
<script src="~/js/googleMap.js"></script>




