@model List<RoomJoinRequestModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/RoomClosed.css" />
<body style="background-color : #4e54c8">
    <style>

        .button-approve {
            align-items: center;
            background-color: #32CD32;
            border: 0;
            border-radius: 100px;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: inline-flex;
            font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            line-height: 20px;
            max-width: 480px;
            min-height: 40px;
            min-width: 0px;
            overflow: hidden;
            padding: 0px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            touch-action: manipulation;
            transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
        }

            .button-approve:hover,
            .button-approve:focus {
                background-color: #228b22;
                color: #ffffff;
            }

            .button-approve:active {
                background: #213a09;
                color: rgb(255, 255, 255, .7);
            }

            .button-approve:disabled {
                background: rgba(0, 0, 0, .08);
                color: rgba(0, 0, 0, .3);
            }

        .button-decline {
            align-items: center;
            background-color: #c20a0a;
            border: 0;
            border-radius: 100px;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: inline-flex;
            font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            line-height: 20px;
            max-width: 480px;
            min-height: 40px;
            min-width: 0px;
            overflow: hidden;
            padding: 0px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            touch-action: manipulation;
            transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
        }

            .button-decline:hover,
            .button-decline:focus {
                background-color: #8b0000;
                color: #ffffff;
            }

            .button-decline:active {
                background: #8b0000;
                color: rgb(255, 255, 255, .7);
            }

            .button-decline:disabled {
                background: rgba(0, 0, 0, .08);
                color: rgba(0, 0, 0, .3);
            }
    </style>

    <style>
        .request {
            border: 4px solid #000;
            border-radius: 50px;
            padding: 2px;
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
    <style>

    </style>


    <div class="context" style="margin-block-start : -250px;">
        <ul style="display:flex ;justify-content : center;align-items: center; flex-direction: column; ">
            @foreach (var item in Model)
            {
                <li class="request" id="join-request-@item.Id" style="color : white;">
                    @item.UserName wants to join your room. &emsp;
                    <br />
                    <button class="button-approve" onclick="approveRoomJoinRequest('@item.Id')">Approve</button>
                    <button class="button-decline" style="margin-top : 5px;" onclick="declineRoomJoinRequest('@item.Id')">Decline</button>
                </li>
                <br />
            }
        </ul>
    </div>


    <div class="area">
        @*<ol class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>*@
    </div>

</body>


<script src="~/js/joinRequest.js"></script>